[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
inject = "*"
fastapi = "*"
python-dotenv = "*"
environs = "*"
requests = "*"
uvicorn = "*"
flake8 = "*"
pylama = "*"
mypy = "*"
jinja2 = "*"
python-multipart = "*"
motor = "*"
pymongo = "*"
dnspython = "*"
fernet = "*"
isort = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.9"
