<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tor service</title>
</head>
<body>
    <div style="text-align: center;">
    <form action="/file.txt" method="get">
        <p>Enter quantity of emails:</p>
        <input name="count" type="number" min="1"/>
        <p>Enter name of service:</p>
        <input name="where_name" type="text"/>
        <p>Enter fields for user:</p>
        <input name="fields" type="text"/>
        <br><input type="submit" value="Get File"></br>
    </form>
    </div>
</body>
</html>